<div class="max-w-xl mx-auto p-6 bg-white shadow-md rounded-md">
  <h2 class="text-2xl font-semibold mb-4">CSV Upload</h2>
  <h2 class="text-sm text-gray-600 mb-6">
    File Size Limit: Enforced maximum file size of 140Kb to prevent system
    overload.
  </h2>

  <!-- File Format Selection -->
  <div class="mb-4">
    <label
      for="fileFormat"
      class="block text-sm font-medium text-gray-700 mb-1"
    >
      File Format
    </label>
    <select
      id="fileFormat"
      [ngModel]="selectedFormat()"
      (ngModelChange)="selectedFormat.set($event)"
      class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md"
    >
      <option value="" disabled>Select format</option>
      <option *ngFor="let format of fileFormats" [value]="format">
        {{ format }}
      </option>
    </select>
  </div>

  <!-- File Upload and Drag & Drop Area -->
  <div
    class="mb-4 p-6 border-2 border-dashed border-gray-300 rounded-md text-center cursor-pointer hover:border-blue-500 transition-colors"
    (click)="fileInput.click()"
    (drop)="onFileDropped($event)"
    (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave($event)"
    [class.border-blue-500]="isDragOver"
  >
    <p class="text-gray-500">Drag and drop your file here</p>
    <p class="text-gray-500 my-2">or</p>
    <input
      type="file"
      (change)="onFileSelected($event)"
      accept=".csv, .xlsx, .json"
      hidden
      #fileInput
    />
    <button
      type="button"
      class="mt-2 px-4 py-2 bg-gray-400 text-white rounded-md hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-gray-600"
    >
      Select File
    </button>
    <p class="text-gray-500 pt-1" *ngIf="selectedFile">
      File Name: {{ selectedFile.name }}
    </p>
  </div>


  <div *ngIf="fileUploadrespData">
    <div class="max-w-lg mx-auto">
      <h1 class="text-xl font-bold mb-4 text-gray-700">File Upload Summary</h1>
      
      <div class="bg-gray-200 p-4 rounded-lg">
        <div class="mb-2">
        <strong class="text-gray-800">File Name:</strong> 
        <span class="text-gray-600 font-semibold"> {{ fileUploadrespData.fileName }}</span>
      </div>
      
      <div class="mb-2">
        <strong class="text-gray-800">File Size:</strong> 
        <span class="text-gray-600 font-semibold"> {{ fileUploadrespData.fileSize }} bytes</span>
      </div>

      <div class="mb-2">
        <strong class="text-gray-800">Duplicate Accounts:</strong> 
        <span class="text-gray-600 font-semibold"> {{ formattedDuplicateAccounts  }}</span>
      </div>
      
      <div class="mb-2">
        <strong class="text-gray-800">MD5 Checksum:</strong> 
        <span class="text-gray-600 font-semibold"> {{ fileUploadrespData.md5Checksum }}</span>
      </div>
      
      <div class="mb-2">
        <strong class="text-gray-800">Status:</strong> 
        <span [ngClass]="{
          'text-red-600 font-semibold': fileUploadrespData.status === 'SANITY_CHECK_FAILED',
          'text-green-600 font-semibold': fileUploadrespData.status === 'SANITY_CHECK_SUCCESS'
        }"> {{ fileUploadrespData.status }}</span>
      </div>
      
      <div>
        <strong class="text-gray-800">Total Lines:</strong> 
        <span class="text-gray-600 font-semibold"> {{ fileUploadrespData.totalLines }}</span>
      </div>
      </div>
    </div>
    
  </div>

  <!-- Upload Progress -->
  <div *ngIf="uploadProgress() >= 0" class="mb-4">
    <div class="w-full bg-gray-200 rounded-full h-4">
      <div
        class="bg-blue-600 h-4 rounded-full"
        [style.width.%]="uploadProgress()"
      ></div>
    </div>
    <p class="text-sm text-gray-600 mt-1">{{ uploadProgress() }}% uploaded</p>
  </div>

  <!-- Notification -->
  <div
    *ngIf="notification().message"
    [ngClass]="{
      'bg-green-100 border-green-400 text-green-700':
        notification().type === 'success',
      'bg-red-100 border-red-400 text-red-700': notification().type === 'error'
    }"
    class="mt-4 px-4 py-3 border rounded relative"
    role="alert"
  >
    <strong class="font-bold">{{
      notification().type === "success" ? "Success!" : "Error!"
    }}</strong>
    <span class="block sm:inline">{{ notification().message }}</span>
    <span
      class="absolute top-0 bottom-0 right-0 px-4 py-3"
      (click)="clearNotification()"
    >
      <svg
        class="fill-current h-6 w-6 text-red-500"
        role="button"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
      >
        <title>Close</title>
        <path
          d="M14.348 5.652a1 1 0 10-1.414-1.414L10 7.172 7.066 4.238a1 1 0 10-1.414 1.414L8.828 8.586l-3.176 3.176a1 1 0 101.414 1.414L10 10l3.176 3.176a1 1 0 001.414-1.414L11.172 8.586l3.176-3.176z"
        />
      </svg>
    </span>
  </div>
</div>


<div class="p-4" *ngIf="isUploadComplete && !fileUploadrespData">   
  <div class="flex space-x-4 border-b border-gray-300">
    <button 
      class="px-6 py-2 font-semibold text-gray-600 border-b-4 transition-all duration-300 ease-in-out transform hover:text-blue-500 hover:border-blue-500 focus:outline-none"
      [ngClass]="{ 'border-blue-500 text-blue-500': activeTab === 1, 'border-transparent': activeTab !== 1 }"
      (click)="setActiveTab(1)">
      <span class="relative">Errors</span>
    </button>
  
    <button 
      class="px-6 py-2 font-semibold text-gray-600 border-b-4 transition-all duration-300 ease-in-out transform hover:text-blue-500 hover:border-blue-500 focus:outline-none"
      [ngClass]="{ 'border-blue-500 text-blue-500': activeTab === 2, 'border-transparent': activeTab !== 2 }"
      (click)="setActiveTab(2)">
      <span class="relative">Uploaded Data</span>
    </button>
  </div>
  
  <div *ngIf="activeTab === 1">
    <div class="flex p-6 w-full justify-between mx-auto mt-1">
      <h3 class="text-lg font-semibold text-green-700 mb-4">Processing Complete</h3>
      
      <div class="mb-4">
        <p class="text-lg text-[rgb(132,123,160)] font-medium flex items-center">
          <svg class="w-5 h-5 text-[rgb(132,123,160)] mr-2" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"></path>
          </svg>
          Total Lines Processed: 
          <span class="ml-1 text-lg font-semibold text-[rgb(132,123,160)]">{{ processedLines }}</span>
        </p>
      </div>

          
      <div *ngIf="errors.length == 0">
        <p class="text-lg text-red-600 font-medium flex items-center">
          <mat-icon color="warn" class="mr-2">error</mat-icon>
          Total Errors: 
          <span class="ml-1 text-lg font-semibold text-red-500">{{ errorCount }}</span>
        </p>
      </div>
    </div>
    
        <div *ngIf="errors.length > 0" class="bg-gradient-to-br from-gray-100 to-gray-300 p-8 rounded-lg shadow-lg max-w-4xl mx-auto mt-2">
          
          <div  class="error-list mt-6 p-4 bg-red-50 border border-red-200 rounded-lg shadow-md h-96 overflow-y-auto">
            <h4 class="text-lg font-semibold text-red-600 mb-3">Errors: {{ errorCount }}</h4>
            <div>
              <span *ngFor="let error of errors" class="flex items-center mb-3 bg-red-100 p-2 rounded-lg">
                <mat-icon color="warn" class="mr-2">error</mat-icon>
                <span class="text-red-600 w-full">Line {{ error.lineNumber }}: {{ error.errors.join(",") }}</span>
              </span>
            </div>
          </div>
        </div>
        
        
      </div>
      <div *ngIf="activeTab === 2">
        <div class="table-container"> 
          <div class="scroll-table">
            <table class="min-w-full">
              <thead style="background-color: rgb(10, 54, 90)">
                <tr  class=" cursor-pointer divide-x divide-gray-200">
                  <th class="py-2 px-4 border">Name</th>
                  <th class="py-2 px-4 border">Account</th>
                  <th class="py-2 px-4 border">Amount</th>
                  <th class="py-2 px-4 border">Email</th>
                  <th class="py-2 px-4 border">Phone</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of array">
                  <td class="py-2 px-4 border whitespace-nowrap">{{ row['name'] }}</td>
                  <td class="py-2 px-4 border whitespace-nowrap">{{ row['account'] }}</td>
                  <td class="py-2 px-4 border whitespace-nowrap">{{ row['amount'] }}</td>
                  <td class="py-2 px-4 border whitespace-nowrap">{{ row['email'] }}</td>
                  <td class="py-2 px-4 border whitespace-nowrap">{{ row['phone#'] }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  <div *ngIf="!fileUploadrespData" class="mt-[10px] flex gap-2 items-center justify-center">
    <button
    [disabled]="!selectedFile"
    type="button"
    (click)="reuploadFile()"
    class="w-36 px-4 py-2 bg-red-500 text-white rounded-md hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 disabled:bg-red-300 disabled:cursor-not-allowed"
  >
    Re-Upload
  </button>
    <button
      [disabled]="!selectedFile "
      type="button"
      (click)="uploadFile()"
      class="w-36 px-4 py-2 bg-green-600 text-white rounded-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 disabled:bg-green-300 disabled:cursor-not-allowed"
    >
      {{ uploadView ? "Uploading..." : "Submit" }}
    </button>

  </div>
<app-loader *ngIf="isLoading"></app-loader>
