<div  style="height: calc(100vh - var(--header-footer-height)); "
 class=" bg-white text-gray-700  overflow-auto scrollbar-thumb-rounded-full scrollbar-track-rounded-full scrollbar scrollbar-thumb-[rgb(0,100,162)] scrollbar-track-white relative">
  <div class="flex items-center p-6 mb-4">
    <img src="{{imageUrl}}/um/static/profile/{{img}}" alt="Profile" class="w-16 h-16 rounded-full mr-4">
    <div>
      <h2 class="text-xl font-semibold"> {{userName}}</h2>
      <!-- <p class="text-gray-400">Good Morning!</p> -->
    </div>
  </div>
  <nav>
    <ul class="space-y-1">
      <li class="flex px-6 items-center space-x-3 p-2 hover:bg-blue-100 rounded-md cursor-pointer" >
        <span  class=" bg-dashboard-icons w-9 h-9 shadow-lg rounded-lg flex items-center p-2">
          <img src="assets/images/dashboard-icon.png" class="w-6 h-6" alt="Dashboard">
        </span>
        <a  (click)="navigate('/dashboard')" class="btn text-sm font-semibold leading-7 text-gray-700">Dashboard</a>
      </li>
  
      <li class="flex flex-col px-6 items-start space-y-1 p-2 hover:bg-blue-100 rounded-md cursor-pointer">
        <div class="flex items-center space-x-3" (click)="toggleKyc()">
          <span class="bg-dashboard-icons w-9 h-9 shadow-lg rounded-lg flex items-center p-2">
            <img src="assets/images/dashboard-icon.png" class="w-6 h-6" alt="Dashboard">
          </span>
          <a class="btn text-sm font-semibold leading-7 text-gray-700">Complete Kyc</a>
          <span class="ml-auto">▼</span> 
        </div>
        
        <ul *ngIf="isSubMenuOpenUserkyc" class="ml-12 space-y-2">
          <li class="hover:bg-blue-50 rounded-md p-1">
            <a (click)="navigate('/corpKyc')" class="text-sm font-medium leading-6 text-gray-600">Complete Kyc</a>
          </li>
        </ul>
      </li>

      <li  [class.opacity-50]="kyclevel == 'NONE'"    [class.pointer-events-none]="kyclevel == 'NONE'"
      [class.cursor-not-allowed]="kyclevel == 'NONE'" class="flex px-6 items-center space-x-3 p-2 hover:bg-blue-100 rounded-md cursor-pointer" >
        <span  class=" bg-dashboard-icons w-9 h-9 shadow-lg rounded-lg flex items-center p-2">
          <img src="assets/images/dashboard-icon.png" class="w-6 h-6" alt="Dashboard">
        </span>
        <a  (click)="navigate('/topup')" class="btn text-sm font-semibold leading-7 text-gray-700">AirTime Topup</a>
      </li>

      <li   [class.opacity-50]="kyclevel == 'NONE'"    [class.pointer-events-none]="kyclevel == 'NONE'"
      [class.cursor-not-allowed]="kyclevel == 'NONE'" class="flex flex-col px-6 items-start space-y-1 p-2 hover:bg-blue-100 rounded-md cursor-pointer">
        <div class="flex items-center space-x-3" (click)="moneyTransfer()">
          <span class="bg-dashboard-icons w-9 h-9 shadow-lg rounded-lg flex items-center p-2">
            <img src="assets/images/dashboard-icon.png" class="w-6 h-6" alt="Dashboard">
          </span>
          <a class="btn text-sm font-semibold leading-7 text-gray-700">Money Transfer</a>
          <span class="ml-auto">▼</span> 
        </div>
        
        <ul   [class.opacity-50]="kyclevel == 'NONE'"    [class.pointer-events-none]="kyclevel == 'NONE'"
        [class.cursor-not-allowed]="kyclevel == 'NONE'" *ngIf="moneyTransferval" class="ml-12 space-y-2">
          <li class="hover:bg-blue-50 rounded-md p-1">
            <a *ngIf="kyclevel != 'NONE'"  (click)="navigate('/listRequests')" class="text-sm font-medium leading-6 text-gray-600">Transfer/Reject Money</a>
            <a *ngIf="kyclevel == 'NONE'"  class="text-sm font-medium leading-6 text-gray-600">Transfer/Reject Money</a>
          </li>
        </ul>
      </li>

      <li   [class.opacity-50]="kyclevel == 'NONE'"   [class.pointer-events-none]="kyclevel == 'NONE'"
      [class.cursor-not-allowed]="kyclevel == 'NONE'" class="flex flex-col px-6 items-start space-y-1 p-2 hover:bg-blue-100 rounded-md cursor-pointer">
        <div class="flex items-center space-x-3" (click)="breshna()">
          <span class="bg-dashboard-icons w-9 h-9 shadow-lg rounded-lg flex items-center p-2">
            <img src="assets/images/dashboard-icon.png" class="w-6 h-6" alt="Dashboard">
          </span>
          <a class="btn text-sm font-semibold leading-7 text-gray-700">Breshna Payments</a>
          <span class="ml-auto">▼</span> 
        </div>
        
        <ul   [class.opacity-50]="kyclevel == 'NONE'"   [class.pointer-events-none]="kyclevel == 'NONE'"
        [class.cursor-not-allowed]="kyclevel == 'NONE'" *ngIf="breshnaPay" class="ml-12 space-y-2">
          <li class="hover:bg-blue-50 rounded-md p-1">
            <a *ngIf="kyclevel != 'NONE'"  (click)="navigate('/listBreshna')" class="text-sm font-medium leading-6 text-gray-600">Auth/Reject Money</a>
            <a *ngIf="kyclevel == 'NONE'"  class="text-sm font-medium leading-6 text-gray-600">Auth/Reject Money</a>
          </li>
        </ul>
      </li>


      <!-- <li   [class.opacity-50]="kyclevel == 'NONE'" 
      [class.cursor-not-allowed]="kyclevel == 'NONE'"class="flex px-6 items-center space-x-3 p-2 hover:bg-blue-100 rounded-md cursor-pointer" >
        <span  class=" bg-dashboard-icons w-9 h-9 shadow-lg rounded-lg flex items-center p-2">
          <img src="assets/images/dashboard-icon.png" class="w-6 h-6" alt="Dashboard">
        </span>
        <a  *ngIf="kyclevel != 'NONE'"  (click)="navigate('/breshnaPay')" class="btn text-sm font-semibold leading-7 text-gray-700">Breshna Payments</a>
        <a   *ngIf="kyclevel == 'NONE'"  class="btn text-sm font-semibold leading-7 text-gray-700">Breshna Payments</a>
      </li> -->
      <!-- <li   [class.opacity-50]="kyclevel == 'NONE'" 
      [class.cursor-not-allowed]="kyclevel == 'NONE'"class="flex px-6 items-center space-x-3 p-2 hover:bg-blue-100 rounded-md cursor-pointer" >
        <span  class=" bg-dashboard-icons w-9 h-9 shadow-lg rounded-lg flex items-center p-2">
          <img src="assets/images/dashboard-icon.png" class="w-6 h-6" alt="Dashboard">
        </span>
        <a  *ngIf="kyclevel != 'NONE'"  (click)="navigate('/bulkCustomerUpload')" class="btn text-sm font-semibold leading-7 text-gray-700">Bulk Customer Upload</a>
        <a  *ngIf="kyclevel == 'NONE'"  class="btn text-sm font-semibold leading-7 text-gray-700">Bulk Customer Upload</a>
      </li> -->

      <li   [class.opacity-50]="kyclevel == 'NONE'"   [class.pointer-events-none]="kyclevel == 'NONE'"
      [class.cursor-not-allowed]="kyclevel == 'NONE'" class="flex flex-col px-6 items-start space-y-1 p-2 hover:bg-blue-100 rounded-md cursor-pointer">
        <div class="flex items-center space-x-3" (click)="toggleSubMenuUser()">
          <span class="bg-dashboard-icons w-9 h-9 shadow-lg rounded-lg flex items-center p-2">
            <img src="assets/images/dashboard-icon.png" class="w-6 h-6" alt="Dashboard">
          </span>
          <a class="btn text-sm font-semibold leading-7 text-gray-700">User Management</a>
          <span class="ml-auto">▼</span> 
        </div>
        
        <ul *ngIf="isSubMenuOpenUser" class="ml-12 space-y-2">
          <li class="hover:bg-blue-50 rounded-md p-1">
            <a  *ngIf="kyclevel != 'NONE'"  (click)="navigate('/corpsUser')" class="text-sm font-medium leading-6 text-gray-600">Corporate Users</a>
            <a  *ngIf="kyclevel == 'NONE'"   class="text-sm font-medium leading-6 text-gray-600">Corporate Users</a>
          </li>
        </ul>
      </li>

      <li   [class.opacity-50]="kyclevel == 'NONE'"   [class.pointer-events-none]="kyclevel == 'NONE'"
      [class.cursor-not-allowed]="kyclevel == 'NONE'"class="flex flex-col px-6 items-start space-y-1 p-2 hover:bg-blue-100 rounded-md cursor-pointer">
        <div class="flex items-center space-x-3" (click)="toggleBulkSalary()">
          <span class="bg-dashboard-icons w-9 h-9 shadow-lg rounded-lg flex items-center p-2">
            <img src="assets/images/dashboard-icon.png" class="w-6 h-6" alt="Dashboard">
          </span>
          <a class="btn text-sm font-semibold leading-7 text-gray-700">Bulk Salary Process</a>
          <span class="ml-auto">▼</span> 
        </div>
        
        <ul   [class.opacity-50]="kyclevel == 'NONE'"   [class.pointer-events-none]="kyclevel == 'NONE'"
        [class.cursor-not-allowed]="kyclevel == 'NONE'" *ngIf="bulkSalary" class="ml-12 space-y-2">
          <li class="hover:bg-blue-50 rounded-md p-1">
            <a  *ngIf="kyclevel != 'NONE'"  (click)="navigate('/bulkSalaryProcessNew')" class="text-sm font-medium leading-6 text-gray-600">Bulk Salary Process</a>
            <a *ngIf="kyclevel == 'NONE'"  class="text-sm font-medium leading-6 text-gray-600">Bulk Salary Process</a>
          </li>
        </ul>
      </li>
      

      <li   [class.opacity-50]="kyclevel == 'NONE'"   [class.pointer-events-none]="kyclevel == 'NONE'"
      [class.cursor-not-allowed]="kyclevel == 'NONE'" class="flex flex-col px-6 items-start space-y-1 p-2 hover:bg-blue-100 rounded-md cursor-pointer">
        <div class="flex items-center space-x-3" (click)="toggleSubMenu()">
          <span class="bg-dashboard-icons w-9 h-9 shadow-lg rounded-lg flex items-center p-2">
            <img src="assets/images/dashboard-icon.png" class="w-6 h-6" alt="Dashboard">
          </span>
          <a class="btn text-sm font-semibold leading-7 text-gray-700">Wallet Management</a>
          <span class="ml-auto">▼</span> 
        </div>
        
        <ul   [class.opacity-50]="kyclevel == 'NONE'"   [class.pointer-events-none]="kyclevel == 'NONE'"
        [class.cursor-not-allowed]="kyclevel == 'NONE'" *ngIf="isSubMenuOpen" class="ml-12 space-y-2">
          <li class="hover:bg-blue-50 rounded-md p-1">
            <a *ngIf="kyclevel != 'NONE'"  (click)="navigate('/pushpull')" class="text-sm font-medium leading-6 text-gray-600">Bank Operations</a>
            <a *ngIf="kyclevel == 'NONE'"  class="text-sm font-medium leading-6 text-gray-600">Bank Operations</a>
          </li>
        </ul>
      </li>

      <li   [class.opacity-50]="kyclevel == 'NONE'"   [class.pointer-events-none]="kyclevel == 'NONE'"
      [class.cursor-not-allowed]="kyclevel == 'NONE'" class="flex flex-col px-6 items-start space-y-1 p-2 hover:bg-blue-100 rounded-md cursor-pointer">
        <div class="flex items-center space-x-3" (click)="accountStatement()">
          <span class="bg-dashboard-icons w-9 h-9 shadow-lg rounded-lg flex items-center p-2">
            <img src="assets/images/dashboard-icon.png" class="w-6 h-6" alt="Dashboard">
          </span>
          <a class="btn text-sm font-semibold leading-7 text-gray-700">Reports</a>
          <span class="ml-auto">▼</span> 
        </div>
        
        <ul   [class.opacity-50]="kyclevel == 'NONE'"   [class.pointer-events-none]="kyclevel == 'NONE'"
        [class.cursor-not-allowed]="kyclevel == 'NONE'" *ngIf="isAccountStatement" class="ml-12 space-y-2">
          <li class="hover:bg-blue-50 rounded-md p-1">
            <a *ngIf="kyclevel != 'NONE'"  (click)="navigate('/accountStatement')" class="text-sm font-medium leading-6 text-gray-600">Account Statement</a>
            <a *ngIf="kyclevel == 'NONE'"  class="text-sm font-medium leading-6 text-gray-600">Account Statement</a>
          </li>
        </ul>
        <ul   [class.opacity-50]="kyclevel == 'NONE'"   [class.pointer-events-none]="kyclevel == 'NONE'"
        [class.cursor-not-allowed]="kyclevel == 'NONE'" *ngIf="isAccountStatement" class="ml-12 space-y-2">
          <li class="hover:bg-blue-50 rounded-md p-1">
            <a *ngIf="kyclevel != 'NONE'"  (click)="navigate('/airTime')" class="text-sm font-medium leading-6 text-gray-600">Air Time-Topup</a>
            <a *ngIf="kyclevel == 'NONE'"  class="text-sm font-medium leading-6 text-gray-600">Air Time-Topup</a>
          </li>
        </ul>
      </li>
      

      <!-- <li   [class.opacity-50]="kyclevel == 'NONE'" 
      [class.cursor-not-allowed]="kyclevel == 'NONE'" class="flex px-6 items-center space-x-3 p-2 hover:bg-blue-100 rounded-md cursor-pointer" >
        <span  class=" bg-dashboard-icons w-9 h-9 shadow-lg rounded-lg flex items-center p-2">
          <img src="assets/images/dashboard-icon.png" class="w-6 h-6" alt="Dashboard">
        </span>
        <a class="btn text-sm font-semibold leading-7 text-gray-700">Add Money</a>
      </li> -->
      <li   [class.opacity-50]="kyclevel == 'NONE'"   [class.pointer-events-none]="kyclevel == 'NONE'"
      [class.cursor-not-allowed]="kyclevel == 'NONE'" class="flex px-6 items-center space-x-3 p-2 hover:bg-blue-100 rounded-md cursor-pointer" >
        <span  class=" bg-dashboard-icons w-9 h-9 shadow-lg rounded-lg flex items-center p-2">
          <img src="assets/images/dashboard-icon.png" class="w-6 h-6" alt="Dashboard">
        </span>
        <a *ngIf="kyclevel != 'NONE'"  (click)="navigate('/tranactionHistory')"  class="btn text-sm font-semibold leading-7 text-gray-700">Transaction History</a>
        <a  *ngIf="kyclevel == 'NONE'"  class="btn text-sm font-semibold leading-7 text-gray-700">Transaction History</a>
      </li>
      <!-- <li   [class.opacity-50]="kyclevel == 'NONE'" 
      [class.cursor-not-allowed]="kyclevel == 'NONE'" class="flex px-6 items-center space-x-3 p-2 hover:bg-blue-100 rounded-md cursor-pointer" >
        <span  class=" bg-dashboard-icons w-9 h-9 shadow-lg rounded-lg flex items-center p-2">
          <img src="assets/images/dashboard-icon.png" class="w-6 h-6" alt="Dashboard">
        </span>
        <a class="btn text-sm font-semibold leading-7 text-gray-700">Link Account</a>
      </li> -->
      <!-- <li   [class.opacity-50]="kyclevel == 'NONE'" 
      [class.cursor-not-allowed]="kyclevel == 'NONE'" class="flex px-6 items-center space-x-3 p-2 hover:bg-blue-100 rounded-md cursor-pointer" >
        <span  class=" bg-dashboard-icons w-9 h-9 shadow-lg rounded-lg flex items-center p-2">
          <img src="assets/images/dashboard-icon.png" class="w-6 h-6" alt="Dashboard">
        </span>
        <a class="btn text-sm font-semibold leading-7 text-gray-700">Bank Transfer</a>
      </li> -->
      <!-- <li   [class.opacity-50]="kyclevel == 'NONE'" 
      [class.cursor-not-allowed]="kyclevel == 'NONE'" class="flex px-6 items-center space-x-3 p-2 hover:bg-blue-100 rounded-md cursor-pointer" >
        <span  class=" bg-dashboard-icons w-9 h-9 shadow-lg rounded-lg flex items-center p-2">
          <img src="assets/images/dashboard-icon.png" class="w-6 h-6" alt="Dashboard">
        </span>
        <a class="btn text-sm font-semibold leading-7 text-gray-700">Own Account Transfer</a>
      </li> -->
      <!-- <li   [class.opacity-50]="kyclevel == 'NONE'" 
      [class.cursor-not-allowed]="kyclevel == 'NONE'" class="flex px-6 items-center space-x-3 p-2 hover:bg-blue-100 rounded-md cursor-pointer" >
        <span  class=" bg-dashboard-icons w-9 h-9 shadow-lg rounded-lg flex items-center p-2">
          <img src="assets/images/dashboard-icon.png" class="w-6 h-6" alt="Dashboard">
        </span>
        <a class="btn text-sm font-semibold leading-7 text-gray-700">Third Party Transfer</a>
      </li> -->
      <!-- <li   [class.opacity-50]="kyclevel == 'NONE'" 
      [class.cursor-not-allowed]="kyclevel == 'NONE'" class="flex px-6 items-center space-x-3 p-2 hover:bg-blue-100 rounded-md cursor-pointer" >
        <span  class=" bg-dashboard-icons w-9 h-9 shadow-lg rounded-lg flex items-center p-2">
          <img src="assets/images/dashboard-icon.png" class="w-6 h-6" alt="Dashboard">
        </span>
        <a class="btn text-sm font-semibold leading-7 text-gray-700">Pay Bills</a>
      </li> -->
      <!-- <li   [class.opacity-50]="kyclevel == 'NONE'" 
      [class.cursor-not-allowed]="kyclevel == 'NONE'" class="flex px-6 items-center space-x-3 p-2 hover:bg-blue-100 rounded-md cursor-pointer" >
        <span  class=" bg-dashboard-icons w-9 h-9 shadow-lg rounded-lg flex items-center p-2">
          <img src="assets/images/dashboard-icon.png" class="w-6 h-6" alt="Dashboard">
        </span>
        <a class="btn text-sm font-semibold leading-7 text-gray-700">Locate Branches</a>
      </li> -->

      <!-- <li class="flex items-center space-x-3 p-2 hover:bg-blue-100 rounded-md cursor-pointer" >
        <img src="assets/images/dashboard-icon.png" class="w-6 h-6" alt="Add Money">
        <a class="text-white">Add Money</a>
      </li> -->
    </ul>
  </nav>
 <!--  <div class="mt-auto">
   
  </div> -->
</div>
