<div style="margin-top: 1px; padding: 10px; display: flex; justify-content: center;">
    <div class="row" style="width: 100%;">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card" style="border-color: rgb(244, 248, 248); border-radius: 30px; width: 100%;">
                <div class="card-body">
                    <h5 class="card-title p-1" style="color: rgb(0, 100, 162);">Customer List</h5>
                    <table class="table" style="border: 1px solid #dee2e6; border-collapse: collapse; width: max-content;">
                        <thead>
                            <tr style="background-color: rgb(0, 100, 162); color: white;">
                                <th class="table-header">Customer Info-First Name</th>
                                <th class="table-header">Customer Info-Middle Name</th>
                                <th class="table-header">Customer Info-Surname</th>
                                <th class="table-header">Customer Info-Father Name</th>
                                <th class="table-header">Customer Info-DOB</th>
                                <th class="table-header">Customer Info-Place of Birth</th>
                                <th class="table-header">Customer Info-Nationality</th>
                                <th class="table-header">Customer Info-Tazkira / Passport</th>
                                <th class="table-header">Customer Info-Date of Issue</th>
                                <th class="table-header">Customer Info-Date of Expiry</th>
                                <th class="table-header">Customer Info-MM Wallet Number</th>
                                <th class="table-header">Customer Info-Gender</th>
                                <th class="table-header">Customer Info-Marital Status</th>
                                <th class="table-header">Customer Info-Contact Number</th>
                                <th class="table-header">Customer Info-Email ID</th>
                                <th class="table-header">Current Address-House/Apartment No</th>
                                <th class="table-header">Current Address-Location</th>
                                <th class="table-header">Current Address-Country</th>
                                <th class="table-header">Current Address-Province</th>
                                <th class="table-header">Current Address-District</th>
                                <th class="table-header">Current Address-Street</th>
                                <th class="table-header">Permanent Address-House/Apartment No</th>
                                <th class="table-header">Permanent Address-Location</th>
                                <th class="table-header">Permanent Address-Country</th>
                                <th class="table-header">Permanent Address-Province</th>
                                <th class="table-header">Permanent Address-District</th>
                                <th class="table-header">Permanent Address-Street</th>
                                <th class="table-header">Profession Details-Source of Income / Occupation</th>
                                <th class="table-header">Profession Details-Position Held</th>
                                <th class="table-header">Profession Details-Period of Service</th>
                                <th class="table-header">Profession Details-Monthly Salary / Income</th>
                                <th class="table-header">Profession Details-Monthly Turnover</th>
                                <th class="table-header">Profession Details-TIN Number</th>
                                <th class="table-header">Profession Details-Purpose of Account Opening</th>
                                <th class="table-header">Next of Kin-Name</th>
                                <th class="table-header">Next of Kin-Father Name</th>
                                <th class="table-header">Next of Kin-Relationship</th>
                                <th class="table-header">Next of Kin-Mobile Number</th>
                                <th class="table-header">Undertaken-Applicant Name</th>
                                <th class="table-header">Undertaken-Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of bulkSalaryData">
                                <td class="table-data">{{ item?.['Customer Info-First Name'] }}</td>
                                <td class="table-data">{{ item?.['Customer Info-Middle Name'] }}</td>
                                <td class="table-data">{{ item?.['Customer Info-Surname'] }}</td>
                                <td class="table-data">{{ item?.['Customer Info-Father Name'] }}</td>
                                <td class="table-data">{{ item?.['Customer Info-DOB'] }}</td>
                                <td class="table-data">{{ item?.['Customer Info-Place of Birth'] }}</td>
                                <td class="table-data">{{ item?.['Customer Info-Nationality'] }}</td>
                                <td class="table-data">{{ item?.['Customer Info-Tazkira / Passport'] }}</td>
                                <td class="table-data">{{ item?.['Customer Info-Date of Issue'] }}</td>
                                <td class="table-data">{{ item?.['Customer Info-Date of Expiry'] }}</td>
                                <td class="table-data">{{ item?.['Customer Info-MM Wallet Number'] }}</td>
                                <td class="table-data">{{ item?.['Customer Info-Gender'] }}</td>
                                <td class="table-data">{{ item?.['Customer Info-Marital Status'] }}</td>
                                <td class="table-data">{{ item?.['Customer Info-Contact Number'] }}</td>
                                <td class="table-data">{{ item?.['Customer Info-Email ID'] }}</td>
                                <td class="table-data">{{ item?.['Current Address-House/Apartment No'] }}</td>
                                <td class="table-data">{{ item?.['Current Address-Location'] }}</td>
                                <td class="table-data">{{ item?.['Current Address-Country'] }}</td>
                                <td class="table-data">{{ item?.['Current Address-Province'] }}</td>
                                <td class="table-data">{{ item?.['Current Address-District'] }}</td>
                                <td class="table-data">{{ item?.['Current Address-Street'] }}</td>
                                <td class="table-data">{{ item?.['Permanent Address-House/Apartment No'] }}</td>
                                <td class="table-data">{{ item?.['Permanent Address-Location'] }}</td>
                                <td class="table-data">{{ item?.['Permanent Address-Country'] }}</td>
                                <td class="table-data">{{ item?.['Permanent Address-Province'] }}</td>
                                <td class="table-data">{{ item?.['Permanent Address-District'] }}</td>
                                <td class="table-data">{{ item?.['Permanent Address-Street'] }}</td>
                                <td class="table-data">{{ item?.['Profession Details-Source of Income / Occupation'] }}</td>
                                <td class="table-data">{{ item?.['Profession Details-Position Held'] }}</td>
                                <td class="table-data">{{ item?.['Profession Details-Period of Service'] }}</td>
                                <td class="table-data">{{ item?.['Profession Details-Monthly Salary / Income'] }}</td>
                                <td class="table-data">{{ item?.['Profession Details-Monthly Turnover'] }}</td>
                                <td class="table-data">{{ item?.['Profession Details-TIN Number'] }}</td>
                                <td class="table-data">{{ item?.['Profession Details-Purpose of Account Opening'] }}</td>
                                <td class="table-data">{{ item?.['Next of Kin-Name'] }}</td>
                                <td class="table-data">{{ item?.['Next of Kin-Father Name'] }}</td>
                                <td class="table-data">{{ item?.['Next of Kin-Relationship'] }}</td>
                                <td class="table-data">{{ item?.['Next of Kin-Mobile Number'] }}</td>
                                <td class="table-data">{{ item?.['Undertaken-Applicant Name'] }}</td>
                                <td class="table-data">{{ item?.['Undertaken-Date'] }}</td>
                            
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="mb-2 mt-2 flex justify-end space-x-2 w-full -ml-[20px]" style="margin-left: 935%;margin-top: 420px;">
                <button (click)="authorizeCustomeronboarding(1)" class="h-10 px-4 text-center bg-[#3a72a0] text-white border border-indigo-400 rounded-md text-sm">
                    Authorize
                </button>
                <button (click)="authorizeCustomeronboarding(0)" class="h-10 px-4 text-center bg-[#3a72a0] text-white border border-indigo-400 rounded-md text-sm">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>


