<div class="h-full overflow-x-auto overflow-y-auto">
  <table class="min-w-full bg-blue border border-gray-300">
    <thead style="background-color: rgb(10, 54, 90)">
      <tr>
        <th
          scope="col"
          class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider"
        >
          Batch Id
        </th>
        <th
          scope="col"
          class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider"
        >
          File Name
        </th>
        <th
          scope="col"
          class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider"
        >
          Uploaded Date
        </th>
        <th
          scope="col"
          class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider"
        >
          Corporate Name
        </th>
        <th
          scope="col"
          class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider"
        >
          Approval Status
        </th>
        <!-- <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">Action</th> -->
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
      <tr
        *ngFor="let item of bulkSalaryData"
        class="hover:bg-gray-100 cursor-pointer divide-x divide-gray-200"
      >
        <ng-container
          *ngIf="
            item?.status == 'SUCCESS' 
          
          "
        >
          <td class="px-6 py-4 whitespace-nowrap">{{ item.id }}</td>
          <td class="px-6 py-4 ">{{ item.fileName }}</td>
          <td class="px-6 py-4 whitespace-nowrap">
            {{ item.uploadedTime | date : "MMM d, y, h:mm:ss a" }}
          </td>
          <td class="px-6 py-4 whitespace-nowrap">{{ item.corpName }}</td>
          <td class="px-6 py-4 whitespace-nowrap text-right">
         <div class="flex "> 
          <span
          [ngClass]="{
            'bg-green-100 text-green-700': item?.status == 'SUCCESS',
            
          }"
          class="px-3 py-1 rounded-full font-medium text-sm inline-block"
        >
          <!-- <ng-container *ngIf="item.status == 'APPROVED_BY_CHECKER'">
            Pending
          </ng-container> -->
          <ng-container *ngIf="item.status == 'SUCCESS'">
            Completed
          </ng-container>
          <!-- <ng-container *ngIf="item.status == 'CANCELED'">
            Canceled
          </ng-container>
          <ng-container *ngIf="item.status == 'SUSPENDED'">
            Canceled
          </ng-container> -->
        </span>
   <span *ngIf="item.status == 'SUCCESS'" class="float-end">
    <button (click)="nextpage(item, 4)" matTooltip="View Processed" class="ml-2">
      <mat-icon>description</mat-icon>
    </button>
   </span>
         </div>
          </td>
          
        </ng-container>
      </tr>
    </tbody>
  </table>
</div>
<app-loader *ngIf="isLoading"></app-loader>
