<div class="flex h-full overflow-y-auto bg-gradient-to-r from-blue-50 to-indigo-50 font-sans">
  <div class="w-full p-8 bg-gray-100">
    <div class="grid grid-cols-3 gap-8 mb-8">
    </div>

    <div class="bg-white shadow-lg rounded-2xl p-6">
      <div class="flex space-x-8 px-6 py-4 m-4 border-b-2 border-gray-200">
        <button (click)="selectTab1('wallet')"
        class="pb-2 text-gray-600 font-semibold hover:text-black focus:outline-none transition-all duration-300"
        [class]="tab1 === 'wallet' ? 'border-b-4 border-blue-600' : 'border-b-4 border-transparent'">
        Wallet Link/Authorize
      </button>
        <button (click)="selectTab1('Push/Pull')"
          class="pb-2 text-gray-600 font-semibold hover:text-black focus:outline-none transition-all duration-300"
          [class]=" tab1 === 'Push/Pull' ? 'border-b-4 border-blue-600' : 'border-b-4 border-transparent'">
          Push/Pull Money
        </button>
        <button (click)="selectTab1('transactions')"
          class="pb-2 text-gray-600 font-semibold hover:text-black focus:outline-none transition-all duration-300"
          [class]="tab1 === 'transactions' ? 'border-b-4 border-blue-600' : 'border-b-4 border-transparent'">
          Transactions
        </button>


      </div>

      <div *ngIf="tab1 == 'Push/Pull'" class="py-6 px-8 mx-4">
        <div class="flex space-x-8 border-b-2 border-gray-200">
          <button (click)="selectTab('push')"
            class="pb-2 text-gray-500 hover:text-black focus:outline-none transition-all duration-300"
            [class]="tab === 'push' ? 'border-b-4 border-blue-600' : 'border-b-4 border-transparent'">
            Transfer Money To Account
          </button>
          <button (click)="selectTab('pull')"
            class="pb-2 text-gray-500 font-semibold focus:outline-none transition-all duration-300"
            [class]="tab === 'pull' ? 'border-b-4 border-blue-600' : 'border-b-4 border-transparent'">
            Transfer Money From Account
          </button>
        </div>

        <div class="p-6 py-8 bg-gray-50 rounded-xl shadow-lg mt-6">
          <h2 class="text-xl font-semibold mb-6 text-gray-800">{{ tab === 'push' ? 'Push Money to Account' : 'Pull Money from Account' }}</h2>

          <form  #amountForm="ngForm" (ngSubmit)="onSubmit()" #moneyForm="ngForm" class="space-y-6">
            <!-- <div class="mb-4">
              <label for="wallet" class="block text-sm font-medium text-gray-700">Select Wallet</label>
              <select [(ngModel)]="walletData" id="wallet" name="wallet" (change)="showLinkedAccounts($event)"
                class="mt-1 p-3 block w-full border border-gray-300 rounded-lg text-sm focus:ring-blue-600 focus:border-blue-600 transition ease-in-out duration-200 shadow-sm">
                <option value="" disabled selected>Select wallet</option>
                <option *ngFor="let wallet of walletList" [value]="wallet.id">{{ wallet.walletAccount.walletNo }}</option>
              </select>
            </div> -->

            <div class="mb-4">
              <label for="wallet" class="block text-sm font-medium text-gray-700">Wallet No</label>
              <input type="text" readonly id="wallet" [(ngModel)]="walletNo" name="wallet" required
                class="mt-1 p-3 block w-full border border-gray-300 rounded-lg text-sm focus:ring-blue-600 focus:border-blue-600 transition ease-in-out duration-200 shadow-sm"
               >
            </div>

            <div class="mb-4">
              <label for="bankAccount" class="block text-sm font-medium text-gray-700">Select Bank Account</label>
              <select [(ngModel)]="accountId" id="bankAccount" name="bankAccount"
                class="mt-1 p-3 block w-full border border-gray-300 rounded-lg text-sm focus:ring-blue-600 focus:border-blue-600 transition ease-in-out duration-200 shadow-sm">
                <option>Select Bank Account</option>
                <option *ngFor="let account of accountList" [value]="account.id">{{ account.accountNumber }}</option>
              </select>
            </div>

            <div class="mb-4">
              <label for="description" class="block text-sm font-medium text-gray-700">Description</label>
              <input type="text" id="description" [(ngModel)]="description" name="description" required
                class="mt-1 p-3 block w-full border border-gray-300 rounded-lg text-sm focus:ring-blue-600 focus:border-blue-600 transition ease-in-out duration-200 shadow-sm"
                placeholder="Enter Description">
            </div>
            
            <div class="mb-4">
              <label for="amount" class="block text-sm font-medium text-gray-700">Amount</label>
              <input 
              pattern="^[1-9][0-9]*$"
              #amountRef="ngModel"
              (keypress)="preventInvalidCharacters($event)"
              type="number" id="amount" [(ngModel)]="amount" name="amount" required
                class="mt-1 p-3 block w-full border border-gray-300 rounded-lg text-sm focus:ring-blue-600 focus:border-blue-600 transition ease-in-out duration-200 shadow-sm"
                placeholder="Enter amount">
                <div *ngIf="amountRef.invalid && amountRef.touched" class="text-red-500 text-sm mt-1">
                  <span *ngIf="amountRef.errors?.['required']">Amount is required.</span>
                  <span *ngIf="amountRef.errors?.['pattern']">Enter a valid amount.</span>
                  <span *ngIf="amountRef.errors?.['min']">Amount must be at least 1.</span>
                  <!-- <span *ngIf="amountRef.errors?.['max']">Amount cannot exceed {{ currentBalance }}.</span> -->
                </div>
            </div>

            <button *ngIf="makerCheckerRestriction == 'MAKER'" type="submit"  [disabled]="!walletNo || !accountId || moneyForm.invalid"
              class="disabled:cursor-not-allowed bg-gradient-to-r from-blue-500 to-indigo-600 text-white px-4 py-3 rounded-lg hover:from-blue-600 hover:to-indigo-700 transition-all duration-300">
              {{ tab === 'push' ? 'Push Money' : 'Pull Money' }}
            </button>
          </form>

          <div class="mt-6">
            <p class="text-sm font-medium text-gray-700">Current Balance: 
              <span class="font-bold text-blue-600">{{ currentBalance }}</span>
            </p>
          </div>
        </div>
      </div>

      <div *ngIf="tab1 == 'transactions'" class="p-6">



<div class="relative">
  <div >
    <div class="flex h-full overflow-y-auto">
      <!-- Main Content -->
      <div class="w-full p-6 bg-gray-100">
        <div class="container mx-auto p-4">
          <div class="overflow-x-auto shadow-md sm:rounded-lg">
            <table class="min-w-full divide-y divide-gray-200">
              <tbody class="bg-white divide-y divide-gray-200">
                <ng-container *ngFor="let wallet of tranactionHistory; let i = index">
                  <tr
                    class="cursor-pointer transition duration-300 ease-in-out transform hover:bg-blue-50 hover:scale-102 hover:shadow-lg"
                    [ngClass]="{
                      'bg-orange-50': i % 2 === 0,
                      'bg-white': i % 2 !== 0
                    }"
                  >
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                      <p>
                        <strong>Service Name:</strong>
                        <span class="text-gray-900">{{ wallet?.serviceName }}</span>
                      </p>
                      <p>
                        <strong>Created On:</strong>
                        <span class="text-gray-900">
                          {{ wallet?.createdOn | date: 'dd-MMM-yyyy hh:mm a' }}
                        </span>
                      </p>
                      <p>
                        <strong>Amount:</strong>
                        <span class="text-gray-900">{{ wallet?.amount }} AFN</span>
                      </p>
                    </td>
                    <td class="px-6 py-4 text-sm text-gray-500 break-words">
                      <p>
                        <strong>Description:</strong>
                        <span class="text-gray-900">
                          {{ wallet?.description || 'No description' }}
                        </span>
                      </p>
                      <p>
                        <strong>Status:</strong>
                        <span class="text-gray-900"> {{ wallet?.status }}</span>
                      </p>
                    </td>
                    <td class="px-6 py-4 text-sm text-center">
                      <div class="flex gap-4 justify-center">
                        <div *ngIf="wallet?.status == 'PENDING'">
                          <button
                            [disabled]="makerCheckerRestriction == 'MAKER'"
                            (click)="authorize(wallet, true)"
                            type="button"
                            class="border border-blue-500 text-blue-500 font-semibold py-2 px-3 text-xs rounded hover:bg-blue-500 hover:text-white transition duration-300"
                          >
                            Authorize
                          </button>
                        </div>
                        <div *ngIf="wallet?.status == 'PENDING'">
                          <button
                            [disabled]="makerCheckerRestriction == 'MAKER'"
                            (click)="reject(wallet, false)"
                            type="button"
                            class="border border-blue-500 text-blue-500 font-semibold py-2 px-3 text-xs rounded hover:bg-blue-500 hover:text-white transition duration-300"
                          >
                            Reject
                          </button>
                        </div>
                      </div>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
            
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <div
    class="flex gap-2 mt-[5px]"
    style="align-items: center; justify-content: center"
  >

  <div class="font-bold text-gray-400" style="font-size: 20px;" *ngIf="tranactionHistory == 0">
  No Data
  </div>
  </div>
</div>
        
      </div>

      <div *ngIf="tab1 == 'wallet'" class="p-6">
        <app-systemwallet></app-systemwallet>
</div>

    </div>
  </div>
</div>
<app-loader *ngIf="isLoading"></app-loader>