<div class="dialog-container">
    <button mat-icon-button class="close-icon" (click)="closeDialog()">
        <mat-icon>close</mat-icon>
      </button>
    <div class="text-center mt-[10px]">
        <p *ngIf="data?.bool == true" style="font-size: 21px; font-weight: 600; color: gray;">Enter PIN to Aprrove Transaction</p>
        <p *ngIf="data?.bool == false" style="font-size: 21px; font-weight: 600; color: gray;">Enter PIN to Reject Transaction</p>
      </div>
      
      <div class="mt-[30px] px-4">
        <input
        [(ngModel)]="pin"
          placeholder="Enter PIN"
          type="password"
          class="px-4 py-2 w-full border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
          id="end-date"
        />
      </div>
      
      <div class="float-end mt-[5%] px-4 gap-2">
          <button (click)="close()" mat-button class="px-4 py-2 border rounded-md hover:bg-sky-100">Cancel</button>
        <span class="pl-[10px]">
          <button (click)="approve()"  mat-button class="px-4 py-2 border rounded-md hover:bg-sky-100">Ok</button>
        </span>
      </div>
    <app-loader *ngIf="isLoading"></app-loader>
</div>
