<div class="h-full overflow-x-auto overflow-y-auto">
  <table class="min-w-full bg-blue border border-gray-300">
    <thead style="background-color: rgb(10, 54, 90)">
      <tr>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">Batch Id
        </th>
        <th
          scope="col"
          class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider"
        >
          File Name
        </th>
        <th
        scope="col"
        class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider"
      >
        Corporate Name
      </th>
        <th
          scope="col"
          class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider"
        >
          Uploaded Date
        </th>
        <th
        scope="col"
        class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider"
      >
        Status
      </th>
        <th
          scope="col"
          class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider"
        >
          Action
        </th>
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
      <tr
        *ngFor="let item of bulkSalaryData"
        class="hover:bg-gray-100 cursor-pointer divide-x divide-gray-200"
      >
        <ng-container *ngIf="item?.status == 'SANITY_CHECK_SUCCESS' || item?.status == 'RISK_NO_RISK' || item?.status == 'APPROVED_BY_CHECKER'">
        <td class="px-6 py-4 whitespace-nowrap">{{ item.id }}</td>
        <td class="px-6 py-4 whitespace-nowrap">{{ item.fileName }}</td>
        <td class="px-6 py-4 whitespace-nowrap">{{ item.corpName }}</td>
        <td class="px-6 py-4 whitespace-nowrap">{{ item.uploadedTime | date:'MMM d, y, h:mm:ss a' }}</td>
        <td class="px-6 py-4 whitespace-nowrap"> <span 
          [ngClass]="{
            'bg-green-100 text-green-700': item.status === 'SANITY_CHECK_SUCCESS', 
            'bg-yellow-100 text-yellow-700': item.status === 'RISK_NO_RISK',
            'bg-green-100 text-green-600': item.status === 'APPROVED_BY_CHECKER',
          }" 
          class="px-3 py-1 rounded-full font-medium text-sm inline-block">
          {{ item.status}}
        </span></td>
        <td  class="pl-[10px] whitespace-nowrap items-center space-x-2 w-full">
          <!-- View Uploaded Report -->
          <button matTooltip="View"
            (click)="nextpage(item, 0)" 
           >
            <mat-icon>visibility</mat-icon>
          </button>
          <!-- <button  *ngIf="loginUserId != item?.maker?.id"
            (click)="nextpage(item, 1)" 
           >
            <mat-icon>description</mat-icon>
          </button> -->
          <button *ngIf="makerCheckerRestriction == 'CHECKER'" matTooltip="Approve"
            (click)="nextpage(item, 2)" 
          >
            <mat-icon>check</mat-icon>
          </button>
        </td>
  

       
</ng-container>
      </tr>
    </tbody>
  </table>
</div>

<app-loader *ngIf="isLoading"></app-loader>

